
img{
    width: 100%;
}
.logo-bigscreen{
    display: flex;
    justify-content: center;
}
.bigscreen-nav a{
    margin-left:15px;
    padding-left:5px;
    text-decoration: none;
    color:#000000;
}
.bigscreen-nav a:hover{
    color:#AE9100;
}
.smallscreen-nav,
#hamburgermenu{
    display: none;
}
.logo img{
    width:150px;
    height:150px;
    margin:0 auto;
}
.w-and-a-img img,
.praktiskinfo img{
    width:700px;
    height:400px;
    object-fit:cover;
    border-radius: 5px;
    margin-top:50px;
    margin-bottom:20px;
}
.homepage{
    margin-top:300px;
}

/* Praktisk info */
.praktiskinfo h2{
    text-align: left;
    color:black;
    font-size: 1.2em;
    margin-top:20px;
    color:#AE9100;
}
.praktiskinfo h3{
    margin-top:10px;
    text-align: left;
    font-size:.9em;
}
.praktiskinfo p,
.p-priser a{
    text-align: left;
    font-size: .8em;
    margin:0px;
    color:black;
}
.p-priser p{
    margin:0px;
    font-size: .8em;
}
.praktiskinfo a{
    color:#AE9100;
    text-decoration: none;
    font-size: .8em;
}
.imglink a{
    display:flex;
   justify-content: center;
   background-color:#b9b9b9;
   position:relative;
   bottom:25px;
   width:700px;
   height:20px;
   color:rgb(63, 63, 63);
   font-size: .7em;
}
.hastag h3{
    font-size: 2em;
    text-align: center;
}
.praktiskinfo a:hover{
    text-decoration: underline;
}
.bukett a{
    color:black;
    opacity: 60%;
}
/* Plan for dagen*/
.planen p{
    text-align: left;
    margin-top:6px;
}
.planen {
    padding:10px;
}
/*Kirkeprogram*/
/*Bordplan*/
/*gaveønsker*/
.bordplassering{
    padding-top:100px;
}
.gaveønsker p{
    text-align: center;
    padding-top:30px;
}
.gaveønsker h2{
    color:black;
}
.gave-list li{
    list-style: circle;
    font-size: 1em;
    padding:0px;
    margin-top:2px;
}
.allergener p{
    font-size: .7em;
}
@media (min-width:551px){
    .fa-bars{
        display: none;
    }
    .logo-smallscreen{
        display: none;
    }
}
@media (max-width:550px){
main{
    width:320px;
    }
.logo-bigscreen{
        display: none;
    }
.logo-smallscreen img{
        width:200px;
        height:200px;
        margin:0 auto;
        margin:0px 60px 0px 60px;
    }

.w-and-a-img img {
    width:310px;
    height:230px;
    object-fit: cover;}

.logo-nothome{
    width:150px;
    height:150px;
    margin:0px 80px 0px 80px;
}
.gaveønsker img{
    height:300px;
}
.praktiskinfo img{
    width:310px;
    height:150px;
    margin-right:10px;
    margin-top:15px;
    object-fit:cover;
}
.praktiskinfo p,
.praktiskinfo a,
.praktiskinfo h2,
.praktiskinfo h3{
    text-align: center;
}
.bukett img{
    height:300px;
}
.brynkirke img{
    height:400px;
}
.imglink a{
    background-color:#b9b9b9;
    position:relative;
    bottom:25px;
    width:310px;
    height:20px;
    color:rgb(63, 63, 63);
    font-size: .7em;
}
ul{
    list-style:none;
    padding-left:80px;
    margin:0px;
    font-weight: lighter;
}
li{
    padding:5px;
    text-transform: uppercase;
    font-size: .8em;
}
ul a{
    color:black;
    text-decoration: none;
}
ul a:hover{
    color:#AE9100;
}
.bigscreen-nav,
#hamburgermenu{
    display: none;
 
}
#hamburgermenu:checked ~ .smallscreen-nav{
    display: block;
    background-color: #ffffff;
    border-right:solid 1px #dbdbdb;
    width:200px;
    height:200px;
    position:absolute;   
    cursor: pointer;
}
.fa-bars {
    margin:20px;
    font-size: 2em;
}
}